
body {
  background-color: #ffffff;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgb(2, 13, 170);
}

p {
  font-family:'Arial';
  font-size: 30px;
}

.nav-flex-row {
  display: flex;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
